<a href="/scenes/<%= scene.slug %> ">
  <div class="card col-md-4" style="width: 18rem;">
    <img src="<%= url_for(scene.thumbnail) %>" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">
        <%= scene.title %>
      </h5>


      <h6 class="card-subtitle mb-2 text-muted">
        <%= scene.description %>
      </h6>
    </div>
  </div>
</a>

