<script type="x-shader/x-vertex" id="vertexshader">
  attribute float size;
  varying vec3 vColor;

  void main() {
    vColor = color;
    vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
    gl_PointSize = size * ( 300.0 / -mvPosition.z );
    gl_Position = projectionMatrix * mvPosition;
  }
</script>

<script type="x-shader/x-fragment" id="fragmentshader">
  uniform sampler2D pointTexture;
  varying vec3 vColor;

  void main() {
    gl_FragColor = vec4( vColor, 1.0 );
    gl_FragColor = gl_FragColor * texture2D( pointTexture, gl_PointCoord );
  }
</script>


<div id="control" class="p-5 text-center">
  <div class="player btn btn-large btn-dark">
    <%= audio_tag rails_blob_url @scene.soundtrack %>
    Enter Experience
  </div>
</div>

<div id="container">
  <%= image_tag("/images/piano-cat.gif", class: "piano-cat", id: "gif") %>
</div>

