<script>
  function init() {
    console.log(THREE)
  }
</script>

<div class="p-5 text-center">
  <button class="btn btn-large btn-dark" type="button" onclick="init();">Enter Experience</button>
</div>
